*
    margin:0
    padding: 0
    font-family: "Fredoka"
    box-sizing: border-box

.body-complete
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100vw
    height: 100vh

    select
        width: 12.5em
        text-align: center
        height: 4em
        background-color: #1E3E62
        color: #f1f1f1
        border-radius: 0.6em
        border: none
        outline: none
        font-size: 20px

.button-next
    text-align: center
    width: 12.5em
    height: 4em
    border-radius: 0.65em
    border: none
    background-color: #1E3E62
    color: #f1f1f1
    font-size: 20px

nav
    background-color: #1E3E62
    width: 100%
    height:10vh
    color:#f1f1f1
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    position: fixed

    h1
        font-weight: 450
        letter-spacing: 0.7px
        font-size: 30px


table
    display: none
    color: red
    border: 1px solid #1E3E62
    color: black
    margin-bottom:10px

    th
        border: 1px solid #1E3E62
        padding: 0px
        width: 80px
    td
        border: 1px solid #1E3E62
        padding: 0px
        width: 80px
        text-align: center

.inputNota1 
    width: 80px
    text-align: center
    height: 30px

.inputNota2
    width: 80px
    text-align: center
    height: 30px

.resultado
    text-align: center
    p
        font-family: "Bebas Neue"
        font-size: 20px
        text-align: center

#calcularButton
    display: none
    width: 7em
    height: 4em
    border-radius: 0.65em
    border: none
    background-color: #1E3E62
    color: #f1f1f1
    font-size: 18px

#voltarButton
    display: none
    width: 7em
    height: 4em
    border-radius: 0.65em
    border: none
    background-color: #1E3E62
    color: #f1f1f1
    font-size: 18px

.nome
    width: 100px

::placeholder
    text-align: center
    color: rgba(0, 0, 0, 0.65)
    font-style: italic

.button-menu
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap:5em
    height: 85vh



footer
    background-color: #1E3E62
    height:5em
    color:#f1f1f1
    text-align: center
    justify-content: center
    align-items: center
    display: flex
    width: 100%


#email,#mensagem, #enviar
    display: none
    width: 8.5em
    height: 2em
    border-radius: 0.65em
    border: none
    background-color: #1E3E62
    color: #f1f1f1
    font-size: 16px

#enviar
    width: 5em

#email::placeholder
    color: #f1f1f1
#mensagem::placeholder
    color: #f1f1f1

#btnsEmail
    width: 100vw
    display: flex
    flex-direction: "row"
    justify-content: center
    align-items: center
    gap: 30px

#btnPdf
    display: none
    width: 8.5em
    height: 2em
    border-radius: 0.65em
    border: none
    background-color: #1E3E62
    color: #f1f1f1
    font-size: 16px





        

        
    
